/* Custom CSS for Navbar Styling */
.navbar-dark.bg-dark {
  background-color: #343a40; /* Custom background color */
}

.navbar-brand {
  font-size: 1.75rem; /* Adjust logo font size */
  color: rgb(250, 250, 250); /* Custom logo color */
}

.navbar-nav .nav-link {
  color: white; /* Custom link color */
  font-weight: bold;
  font-size: 1.2rem; /* Custom font size */
}

.navbar-nav .nav-link:hover {
  color: #89da19; /* Link color on hover */
}

.navbar-toggler {
  border-color: white; /* Custom border for toggle button */
}


.nav-item i{
  padding: 10px;
}

/* Custom CSS for Hero Section */
.hero {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}
@media (max-width:430px){
  .hero-text h2,.hero-text p{
    font-size: 1rem;
  }
}